.text-box {
    width: 100%;
    padding: 0 20px;
}

.dropdown-item {
    color: red;
}

.dropdown-item:hover {
    color: darkred;
}

.title {
    text-transform: uppercase;
}

.d-flex {
    border-width: 2px;
    border-bottom-style: outset;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.container {
    margin-top: 215px;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}