.text-box {
    width: 100%;
    padding: 0 20px;
}
.dropdown-item {
    color: red;
}

.dropdown-item:hover {
    color: darkred;
}

.title {
    text-transform: uppercase;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
 
.container{
    margin-top:215px;
}