.text-box {
    width: 100%;
    padding: 0 20px;
}
.dropdown-item {
    color: red;
}

.dropdown-item:hover {
    color: darkred;
}

.title {
    text-transform: uppercase;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
 
.container{
    margin-top:215px;
}

.proj-holder {
    background-color: #f9f9f9;
    height: 100px;
    width: 430px;
    border-radius: 10px;
}

.proj{
    margin-top: 15px;
}